##### MEDICAL INSURANCE PROJECT
### AUTHOR : Masinde Victor Kiprono

### BUSINESS UNDERSTANDING
## Project Overview
One of the basic needs of a human being is access to emdical care. Everyday we have people dying to the inability to access affordable medical attention. Insurance is key in ensuring that everybody is cattered for healthwise. In this project we are going to explore the factore that affect the insurance fees for different patients. lets dive straight into it

In [1]:
# Import the necessary libraries for the project
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Data Understanding
For this project, we are using data sourced from kaggle. The data was initially stored in CSV format. Here we import our data to the notebook and explore it further. The data has seven columns namely `age`, `sex`, `bmi`, `children`, `smoker`, `region` and `charges`.Among these columns, four are made of numeric entries while three columns are in text form. The data has 1338 rows. We can also see from the statisticcal summary that the highest BMI is 53 while the lowest is 15.96. The oldest person is of 64 years while the youngest is 18 years old. These give us a glimples of our data before we start the real analysis.

In [2]:
# import the data and read it to notebook
df=pd.read_csv("Health_insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
# Check for the shape of the data
df.shape

(1338, 7)

In [7]:
#check for the detailed summary of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [9]:
# Check for the statistical summary
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010